#text{
    color: red;
    animation-name: colorAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes colorAnim{
    25%{
        color: #ff0000;
        transform: rotate(90deg);
    }
    50%{
        color: #00ff00;
        transform: rotate(180deg)
    }
    75%{
        color: #0000ff;
        transform: rotate(270deg);
    }
    100%{
        color:#ffff00;
        transform: rotate(360deg);
    }
}